@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');




:root {
    --active-text-color: #ECA339;
    --btn-orange-color: #E99C2F;
    --link-orange-color: #EBA848;
    --active-rate-color: #EFCE4A;
    --deactive-rate-color: #A9A9A9;
    --main-page-color: #626160;
    --secondary-main-page-color: #998d81;
    --sale-color-orange: #d8924c;
    --sale-color-green: #47d93c;
    --sections-background-color: #f8f9fd;
    --footer-content-gray-color: #a4aaaf;
}



* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--main-page-color);
}

.container {
    width: 80%;
    padding: 0px 0px;
}

p {
    margin: 0px;
}

.element-margin {
    margin-top: 50px;
}

.section-margin {
    margin: 50px auto;
}

.section-background-color {
    background-color: var(--sections-background-color);
}

.org-sale-crd {
    color: white;
    background-color: var(--sale-color-orange);
}

.grn-sale-crd {
    color: white;
    background-color: var(--sale-color-green);
}

.active-star {
    color: var(--active-rate-color);
}

.deactivate-star {
    color: var(--deactive-rate-color);
}

header {
    background-color: var(--sections-background-color);
}

nav {
    display: flex;
    text-transform: capitalize;
}

h2,
h4 {
    text-transform: capitalize;
}
nav img {
    width: 75px;
}
.nav-left {
    flex: 20%;
    padding: 20px 0;
}
.logo-second {
    color: var(--sale-color-orange);
    text-transform: capitalize;
}
.nav-middle {
    flex: 60%;
    text-align: center;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
}
.nav-middle li a {
    color: var(--active-text-color);
    text-decoration: none;
}
.nav-right {
    flex: 20%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
}
.nav-right div {
    margin-inline-end: 20px;
}
.car-icon {
    position: relative;
}
.car-icon span {
    position: absolute;
    font-size: 12px;
    height: 20px;
    width: 20px;
    background-color: var(--btn-orange-color);
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: white;
    line-height: 20px;
    top: -10px;
    right: -14px;
}
.cover {
    background-color: var(--sections-background-color)
}
.cover-all {
    display: flex;
    padding: 50px 0px;
}
.cover-content {
    flex: 60%;
}
.cover-content h2 {
    font-weight: 400;
    color: var(--secondary-main-page-color);
    font-size: 1.5em;
    text-transform: capitalize;
    margin-top: 20px
}
.cover-content h3 {
    font-size: 2em;
    text-transform: capitalize;
}
.cover-content p {
    color: var(--secondary-main-page-color);
    margin-top: 26px;
}
.cover-price {
    display: flex;
    margin-top: 0px;
}
.cover-price p {
    color: gray;
    margin-top: 0px;
    margin-inline-end: 10px;
}
.cover-price-after {
    text-decoration: line-through;
}
.cover-img {
    flex: 40%
}
.cover-img img {
    width: 90%;
}
.cover-content button {
    margin-top: 20px;
    margin-inline-end: 20px;

}
.add-cart-btn {
    background-color: var(--btn-orange-color);
    border: none;
    color: white;
    padding: 20px 40px;
}
.add-cart-btn i {
    color: white;
    margin-inline-end: 5px;
    font-weight: 100;
}
.more-info-btn {
    background-color: transparent;
    color: var(--btn-orange-color);
    border: none;
    font-weight: 500;
}
.top-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
}
.top-products-small {
    width: 250px;
    text-align: center;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}
h4 {
    margin: 20px auto;
    font-size: 1em;
}
.top-products p {
    margin-bottom: 0px;
    font-size: 0.9em;
}
.top-products-middle {
    width: 450px;
    display: flex;
    padding-top: 20px;
}
.top-products-middle-img {
    padding-left: 10px;
}
.top-products-middle-content {
    padding: 0 15px;
}
#lamp-img {
    margin-top: -20px;
    width: 50%;
}
.top-products-middle-sale {
    font-weight: 500;
}
.sale-orange {
    color: var(--link-orange-color);
}
.top-products-middle-content button {
    margin-top: 50px;
    background-color: transparent;
    padding: 10px 20px;
    color: var(--secondary-main-page-color);
    border: 1px black solid;
}
.n-products {
    text-align: center;
}
.n-products h2 {
    text-transform: capitalize;
    padding-bottom: 20px;
}
.n-arrival {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.n-arrival-product {
    width: 250px;
    position: relative;
}
.n-arrival-img {
    background-color: var(--sections-background-color);
    width: 250px;
    height: 300px;
}
.n-arrival-img img {
    width: 100px;
    padding-top: 100px;
}
.sale-tag {
    position: absolute;
    top: 10px;
    right: 0;
    padding: 10px 20px;
}
.sale-tag p {
    color: white;
    font-weight: 500;
    text-transform: capitalize;
}
.about-us-sec {
    background-image: linear-gradient(rgba(77, 84, 99, 0.1), rgba(0, 0, 0, 0.1)), url(../images/collection/sofa-collection-banner.jpg);
    background-position: center;
    background-size: cover;
    padding: 200px 0px;
    position: relative;
}
.more-about-us,
.more-about-us p {
    color: white;
    z-index: 3;
    position: relative;
    width: 80%;
}
.abt-us-overlay {
    width: 30%;
    height: 100%;
    background-color: #0b080c96;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
.more-about-us h2,
.more-about-us button {
    margin: 30px auto;
    text-transform: capitalize;
}
.featured-products {
    text-align: center;
}
.featured-products h2 {
    margin-bottom: 50px;
}
.feat-products-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.feat-product img {
    width: 250px;
    margin-bottom: 10px;
}
.feat-product p {
    display: inline;
    margin-inline-start: 10px;
    margin-top: 10px;
}
.feat-product h4 {
    margin: 10px auto;
}
.blog h2 {
    margin-bottom: 50px;
    text-align: center;
}
.blog p {
    color: var(--secondary-main-page-color);
}
.blog-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.blog-card {
    width: 350px;
}
.blog-card img {
    width: 100%;
    margin-top: 30px;
}
.blog-card h4 {
    margin-bottom: 10px;
}
.author-name {
    text-transform: capitalize;
    color: var(--deactive-rate-color) !important;
    padding-bottom: 20px;
}
.clients {
    background-color: var(--sections-background-color);
    width: 100%;
}
.all-clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}
.nav-bar .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}
.list-one ul,
.list-two ul,
.list-three ul,
.list-four ul {
    list-style-type: none;
    margin-inline-start: -31px;
    text-transform: capitalize;
    text-decoration: none;
    line-height: 2;
}
.list-one ul a:link,
.list-two ul a:link,
.list-three ul a:link,
.list-four ul a:link {
    text-decoration: none;
    color: var(--deactive-rate-color);
}
.list-four {
    width: 200px;
    position: relative;
}
.list-four p {
    color: var(--deactive-rate-color);
}
.subscribe-now input {
    position: relative;
    height: 40px;
    margin-top: 40px;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.subscribe-now i {
    position: absolute;
    right: 20px;
    top: 158px;
    color: var(--active-text-color);
    font-size: 20px;
}
.subscribe-now ::placeholder {
    color: var(--footer-content-gray-color);
    padding-left: 5px;
}
.footer-social {
    background-color: var(--sections-background-color);
    padding: 50px 0;
}
.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.social-links i {
    margin-inline: 20px;
    color: var(--footer-content-gray-color);
}
.footer-copyright {
    text-align: center;
    padding-top: 30px;
}
.footer-copyright p {
    color: var(--footer-content-gray-color);
    text-transform: capitalize;
}
@media (min-width: 901px) and (max-width: 1250px) {
    .blank-div {
        width: 250px;
    }
}
/*?   ***************************** middle screens  *********************/
@media (min-width: 701px) and (max-width: 900px) {
    nav div {
        font-size: 10px;
    }
    .car-icon span {
        font-size: 9px;
        height: 15px;
        width: 15px;
        line-height: 15px;
        top: -9px;
        right: -12px;
    }
    .cover-content {
        flex: 39%;
        font-size: 0.75em;
        padding-right: 15px;
    }
    .top-products {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .top-products-small {
        width: 100%;
    }
    .top-products-middle {
        width: 100%;
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .top-products-middle-content button {
        margin: 20px auto;
    }
    .top-products-middle-sale {
        margin-top: 20px;
    }
    .about-us-sec {
        padding: 150px 0px;
    }
}
@media (max-width: 700px) {
    nav {
        display: flex;
        text-transform: capitalize;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .nav-left {
        text-align: center;
    }
    .nav-middle {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
        align-items: stretch;
    }
    .nav-middle li {
        margin-bottom: 20px;
    }
    .nav-right div {
        margin-inline: 0px;
    }
    .cover-all {
        display: flex;
        padding: 50px 0px;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        align-content: space-around;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .cover-img {
        text-align: center;
    }
    .top-products {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        align-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .top-products-small {
        width: 100%;
    }
    .top-products-middle {
        width: 100%;
        display: flex;
        padding-top: 20px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #lamp-img {
        width: 20%;
    }
    .top-products-middle-content button {
        margin: 20px auto;
    }
    .top-products-middle-sale {
        margin-top: 20px;
    }
    .n-arrival {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .sale-tag p {
        font-size: 0.7rem;
        font-weight: 400;
    }
    
    .about-us-sec {
        padding: 100px 0px;
    }
    .feat-products-cards {
        flex-direction: column;
    }
    .feat-product p {
        margin-bottom: 20px;
    }
    .feat-product {
        margin: 10px
    }
    .blog-cards {
        flex-direction: column;
    }
    .all-clients {
        flex-direction: column;
        align-content: space-around;
    }
    .all-clients img {
        margin: 30px auto;
        width: 100px;
    }
    .blog-card {
        width: 260px;
    }
    .nav-bar .container {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
        align-items: stretch;
    }
    .list-one,
    .list-two,
    .list-three,
    .list-four {
        width: 100%;
        text-align: center;
    }
    .subscribe-now input {
        width: 75%;
    }
    .subscribe-now i {
        right: 66px;
        top: 136px;
    }
}